<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบบริหารสต้อกสินค้าออนไลน์</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
 
<body>
<h1>โปรแกรมบริหารงานสต้อกสินค้าออนไลน์</h1>
<div class="menu">
    <a href="/home" class="btn">
        <i class="fa fa-home"></i> 
        Home
    </a>
    <a href="/product" class="btn">
        <i class="fa fa-th"></i> 
        สินค้า
    </a>
    <a href="/importStock" class="btn">
        <i class="fa fa-arrow-down"></i> 
        รับเข้าสต้อก
    </a>
    <a href="/outStock" class="btn">
        <i class="fa fa-arrow-up"></i> 
        เบิกสินค้าออก
    </a>
    <a href="/report" class="btn">
        <i class="fa fa-bar-chart"></i> 
        รายงานสต้อก
    </a>
</div>
</body>
</html>