<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("header") %>
  <h4>Welcome to Stock System by Node.JS</h4>
  <%- include("footer") %>

</body>

</html>